<!DOCTYPE html>
<html lang="{{ page.lang }}">
    <head>
        {% include "head.njk" %}
    </head>
    <body class="min-h-screen flex flex-col">
        {% include "header.njk" %}

        {{ content | safe }}

        {% include "footer.njk" %}

        {# scripts #}
        {% if diagrams %}
            {% mermaid_js%}
        {% endif %}
    </body>
</html>